<!--==========================
  Header Section
  ============================-->
<header id="header">
  <div class="container" style="background:grey;">

    <div id="logo" class="pull-left">
      <a href="#hero">
        <img src="{{logo}}" alt="{{logoCaption}}" title="{{logoTitle}}"></img>
      </a>
      <!-- Uncomment below if you prefer to use a text image -->
      <!--<h1><a href="#hero">Header 1</a></h1>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/">About Us</a>
        </li>
        <li>
          <a href="/">Treatments</a>
        </li>
        <li>
          <a href="/">Happy patients</a>
        </li>
        <li>
          <a href="/">Contact Us</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->
  </div>
</header>
<!-- #header -->